<div class="wrapper">


  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {{> sidebar}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Add Course</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Add Course</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <h2>{{user}}</h2>
    </section>

    <!-- general form elements disabled -->


    <section class="content">
      <div class="container-fluid ">
        <div class="rounded mb-3 bg-white">
          <div class="card card-primary">
            <div class="card-header">
              <h2 style="text-align:center">Add Course</h2>
            </div>
          </div>
          <form action="/admin/dashboard" method="post">
            <div class="">
              <div class="row">
                <div class="col-md-6 mx-auto mt-4">
                  <div class="form-group">
                    <label for="nameInput">Name of the Course</label>
                    <input type="text" class="form-control" id="nameaInput" aria-describedby="Enter the Course name"
                      placeholder="Enter the course name" name="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mx-auto mb-3">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
              </div>

            </div>
          </form>

        </div>
      </div>

  </div>
</div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{> footer}}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{> flash}}