<div class="wrapper">


    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {{> sidebar}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Edit Category</h1> User</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Edit Category</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <h2>{{user}}</h2>
        </section>

        <section class="content">
            <div class="container-fluid ">
                <form action="" method="post">
                    <div class="">
                        <div class="row">

                            <div class="form-group col-12 col-lg-6 col-xl-3 mx-auto">
                                <label for="nameInput">Name of the Category</label>
                                <input type="text" class="form-control" id="nameInput"
                                    aria-describedby="Enter the User name" placeholder="Enter the User name" name="name"
                                    value="{{catName}}" required>

                            </div>
                        </div>


                        <div class="row">

                            <button type="submit" class="btn btn-primary col-12 col-lg-6 col-xl-3  mx-auto">Edit
                                Details</button>
                        </div>

                    </div>
                </form>


            </div>
    </div>


</div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{> footer}}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{> flash}}
