<link rel="stylesheet" href="/custom.css">
<div class="wrapper">
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {{> sidebar}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard admin</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content 
    <section class="content">
      <h2>&nbsp;Admin</h2>
    </section>-->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-12 col-md-6  px-2">
            <div class="card     cashier-card">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="">
                    <p class="cardSubText  mb-2">Section Details</p>
                  </a>

                </div>
                <div class="icon mr-4  my-auto fa-icon">
                  <a class="cardLink" href="">
                    <i class="far fa-file-alt"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6  px-2">
            <div class="card cashier-card2">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="">
                    <p class="cardSubText mb-2">Course Details</p>
                  </a>
                </div>
                <div class="icon mr-4  my-auto fa-icon">
                  <a class="cardLink" href="">
                    <i class="fas fa-graduation-cap"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6  px-2">
            <div class="card    cashier-card3">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="">
                    <p class="cardSubText mb-2">College Details</p>
                  </a>
                </div>
                <div class="icon mr-4  my-auto fa-icon">
                  <a class="cardLink" href="">
                    <i class="fas fa-university"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card END -->
      </div>
  </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{> footer}}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{> flash}}