<link rel="stylesheet" href="/styles.css">
<div class="wrapper">
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {{> cashiersidebar}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Category Details</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"> Category details</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->

    <section class="content">
      <div class="container-fluid">
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="card card-primary">
            <div class="card-header">
              <h5 style="text-align:center">Add Category</h5>
            </div>
            <!--end card header-->
            <div class="card-body">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="catg">
                    <h1 class="card-title">Category</h1>
                  </label>
                  <form action="" method="post">
                    <div class="form-group">
                      <div class="d-flex justify-content-start">
                        <input type="text" class="form-control" placeholder="Enter Category" name="name">
                        <!--end col 5-->
                        <div class="col-6">
                          <button type="submit" class="btn btn-primary mb-2">Save</button>
                        </div>
                        <!--end col 3-->
                      </div>
                      <!--end col 12-->
                    </div>
                  </form>
                </div>
              </div>
              <section class="content">
                <div class="row">
                  <div class="col-12">
                    <div class="card ml-2">
                      <div class="card-header">
                        <h3 class="card-title">View Category Details</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>Sl.</th>
                              <th>Category</th>
                              <th>Manage</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each data}}
                            <tr>
                              <th scope="row">{{@index}}</th>
                              <td>{{this.name}}</td>
                              <td>
                                <a class="btn btn-success btn-sm" href="/admin/editcategory/{{this.id}}"
                                  role="button">Edit</a>
                                <a class="btn btn-danger btn-sm" href="/admin/deletecategory/{{this.id}}"
                                  role="button">Delete</a>
                              </td>
                            </tr>
                            {{/each}}
                            <!--example values start-->
                            <tr>
                              <td>Tasman</td>
                              <td>Internet Explorer 4.5</td>
                              <td>Mac OS 8-9</td>

                            </tr>
                            <tr>
                              <td>Tasman</td>
                              <td>Internet Explorer 5.1</td>
                              <td>Mac OS 7.6-9</td>

                            </tr>
                            <tr>
                              <td>Tasman</td>
                              <td>Internet Explorer 5.2</td>
                              <td>Mac OS 8-X</td>

                            </tr>
                            <tr>
                              <td>Misc</td>
                              <td>NetFront 3.1</td>
                              <td>Embedded devices</td>

                            </tr>
                            <tr>
                              <td>Misc</td>
                              <td>NetFront 3.4</td>
                              <td>Embedded devices</td>

                            </tr>


                            <!--example values-->
                            </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </section>
            </div>

          </div>

        </div>
      </div>

  </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{> footer}}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{> flash}}
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>